.message-box {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  z-index: 1000;
}

.success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #3c763d;
}

.error {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.confirm {
  border-color: #faebcc;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.message-content {
  position: relative;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-alert {
  background-color: #dc3545; /* Red color */
  border-color: #dc3545;
  color: white;
}

.btn-alert:hover {
  background-color: #c82333; /* Darker red on hover */
  border-color: #c82333;
}

.btn-primary {
  background-color: #007bff; /* Blue color */
  border-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-color: #0056b3;
}
