<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Upload Media</h2>
            <form #sendDocument="ngForm" (ngSubmit)="send(sendDocument)" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Send To:</label>
                    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="receiver" #name="ngModel" required>
                    <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
                      Name is required
                    </div>
                </div>
                
                <div class="mb-3">
                    <input type="file" id="media" class="form-control d-none" name="media" accept="audio/*,video/*,image/*,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onFileChange($event)" #fileInput>
                    <button type="button" class="btn btn-secondary" (click)="fileInput.click()">Upload File</button>
                    
                    <div *ngIf="filePreview">
                      <p class="mt-3">File selected: {{filename}}</p>
                      <div *ngIf="isImage()">
                        <img [src]="filePreview" alt="Preview" class="img-fluid mt-3">
                      </div>
                      <div *ngIf="isVideo()">
                        <video [src]="filePreview" controls class="mt-3"></video>
                      </div>
                      <div *ngIf="isAudio()">
                        <audio [src]="filePreview" controls class="mt-3"></audio>
                      </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" [disabled]="sendDocument.invalid">Send</button>
                &nbsp;
                <button type="reset" class="btn btn-secondary" (click)="clearPreview()">Clear</button>
            </form>
        </div>
    </div>
</div>
